* {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Inconsolata', monospace;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 20% auto;
}

.navColumn {
    position: fixed;
    width: 20%;
    grid-column: 1;
    display: grid;
    grid-template: 12% 12% 12% 24% 12% 6% 12% auto / 50% 50%;
    border-right: solid 3px #222;
}

.navRow {
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
}

.navLink {
    font-size: 1.5rem;
    text-decoration: none;
    color: #222;
    height: 1.5rem;
}

#gitHubIcon {
    grid-column: 1 / 3;
    grid-row: 5;
    margin: auto;
}

#linkedInIcon {
    grid-column: 1 / 3;
    grid-row: 7;
    margin: auto;
}

.navSpacer {
    height: 300%;
}

.mainColumn {
    grid-column: 2;
}

.welcomeContainer {
    display: grid;
    grid-template: repeat(8, 100px) / 5% 1fr 1fr 5%;
}

.welcomeHeader {
    grid-column: 1 / 5;
    grid-row: 1;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    height: auto;
}

.smallHeader {
    margin: auto;
    font-size: 2rem;
    font-weight: 1000;
}

.bioImage {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    height: 300px;
    width: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 8px 5px #222;
}

.bioText1 {
    height: auto;
    margin: auto;
    grid-column: 2;
    grid-row: 2 / 4;
    font-size: 1.2rem;
}

.bioText2 {
    height: auto;
    margin: auto;
    grid-column: 2;
    grid-row: 5 / 7;
    font-size: 1.2rem;
}

.iconGridMERN {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-template: 100% / 20% 20% 20% 20% 20%;
    column-gap: 15px;
}

.iconGridTools {
    grid-column: 2 / 4;
    grid-row: 7;
    display: grid;
    grid-template: 100% / repeat(9, 10%);
    column-gap: 15px;
}

.enlargeIcon {
    font-size: 100px;
}

.projectsContainer {
    display: grid;
    grid-template: repeat(20, 100px) / repeat(10, 1fr);
}

.projectsHeader {
    grid-column: 1 / 11;
    grid-row: 1;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    height: auto;
}

#trackPackerHeader {
    grid-column: 4 / 6;
    grid-row: 2;
    display: grid;
    align-content: center;
}

.trackPackerImageContainer {
    grid-column: 2 / 8;
    grid-row: 3 / 6;
    display: grid;
    justify-items: center;
}

.trackPackerImage {
    border: outset 3px #222;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 2.5px #222;
    width: 100%
}

#repoButton1 {
    grid-column: 8 / 11;
    grid-row: 3 / 5;
    height: 50px;
    width: 175px;
    align-self: center;
    justify-self: center;
}

#deployedButton1 {
    grid-column: 8 / 11;
    grid-row: 4 / 6;
    height: 50px;
    width: 175px;
    align-self: center;
    justify-self: center;
}

.trackPackerDesc {
    grid-column: 2 / 10;
    grid-row: 6;
    display: grid;
    align-items: center;
    text-align: justify;
}

.iconGridTrackPacker {
    grid-column: 2 / 10;
    grid-row: 7 / 9;
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template: 50% 50% / repeat(6, 1fr);
    justify-items: center;
}

#bookKeeperHeader {
    grid-column: 4 / 6;
    grid-row: 10;
    display: grid;
    align-content: center;
}

.bookKeeperImageContainer {
    grid-column: 2 / 8;
    grid-row: 11 / 14;
    display: grid;
    justify-items: center;
}

.bookKeeperImage {
    border: outset 3px #222;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 2.5px #222;
    width: 100%;
}

#repoButton2 {
    grid-column: 8 / 11;
    grid-row: 11 / 13;
    height: 50px;
    width: 175px;
    align-self: center;
    justify-self: center;
}

#deployedButton2 {
    grid-column: 8 / 11;
    grid-row: 12 / 14;
    height: 50px;
    width: 175px;
    align-self: center;
    justify-self: center;
}

.bookKeeperDesc {
    grid-column: 2 / 10;
    grid-row: 14;
    display: grid;
    align-items: center;
    text-align: justify;
}

.iconGridBookKeeper {
    grid-column: 2 / 10;
    grid-row: 15 / 17;
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template: 50% 50% / repeat(5, 1fr);
    justify-items: center;
}

.contactContainer {
    display: grid;
    grid-template: repeat(8, 100px) / repeat(10, 1fr);
}

.contactHeader {
    grid-column: 1 / 11;
    grid-row: 1;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    height: auto;
}

#contactInfoHeader {
    grid-column: 3 / 9;
    grid-row: 2;
    text-align: center;
}

.contactInfoGrid {
    grid-column: 3 / 10;
    grid-row: 3 / 5;
    display: grid;
    grid-template: 1fr 1fr 1fr / 60% 40%;
    align-items: center;
    justify-items: start;
}

.contactInfoGrid div {
    height: auto;
    font-size: 1.3rem;
    font-weight: 1000;
}

.contactInfoGrid #Email {
    grid-row: 1 / 3;
    grid-column: 1;
}

.contactInfoGrid #Phone {
    grid-row: 2 / 4;
    grid-column: 1;
}

.contactInfoGrid #gitHubButton {
    grid-row: 1;
    grid-column: 2;
    width: 130px;
}

.contactInfoGrid #linkedInButton {
    grid-row: 2;
    grid-column: 2;
    width: 130px;
}

.contactInfoGrid #resumeButton {
    grid-row: 3;
    grid-column: 2;
    width: 130px;
}

#formHeader {
    grid-row: 6;
    grid-column: 3 / 9;
    margin-top: -3rem;
}

form {
    grid-column: 3 / 9;
    grid-row: 6 / 10;
    column-gap: 25px;
    row-gap: 25px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.formRow1 {
    grid-row: 1;
    grid-column: 1 / 5;
    justify-self: center;
    width: 100%;
    display: grid;
    grid-template: 100% / 1fr 1fr;
    column-gap: 25px;
    justify-items: center;
}

.formRow2 {
    grid-row: 2;
    grid-column: 1 / 5;
    justify-self: center;
    width: 100%;
    display: grid;
    grid-template: 100% / 1fr 1fr;
    column-gap: 25px;
    justify-items: center;
}

.input {
    width: 100%;
}

.formRow3 {
    grid-row: 3;
    grid-column: 1 / 5;
    justify-self: center;
    width: 100%;
}

.messageInput {
    width: 100%;
}

.formRow4 {
    grid-row: 4;
    grid-column: 2 / 4;
    justify-self: center;
}

.submitButton {
    height: 50%;
}