* {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #222;
    font-family: 'Inconsolata', monospace;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 20% auto;
}

.navColumn {
    position: fixed;
    width: 20%;
    grid-column: 1;
    display: grid;
    grid-template: 20% 20% 20% 20% 20% / 50% 50%;
    border-right: solid 3px #222;
}

.navRow {
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
}

.navLink {
    font-size: 1.5rem;
    text-decoration: none;
    color: #222;
    height: 1.5rem;
}

.navSpacer {
    height: 300%;
}

.mainColumn {
    grid-column: 2;
}

.homeContainer {
    display: grid;
    grid-template: repeat(8, 100px) / 5% 1fr 1fr;
}

.bigHeader {
    grid-column: 1 / 4;
    grid-row: 1;
    margin: auto;
    font-size: 3rem;
    height: auto;
}

.smallHeader {
    grid-column: 2;
    grid-row: 2 / 3;
    margin: auto;
    font-size: 2rem;
}

.bioImage {
    grid-column: 3;
    grid-row: 2 / 4;
    height: 300px;
    width: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 8px 5px #222;
}

.bioText {
    margin: 20px;
    grid-column: 2;
    grid-row: 2 / 4;
    font-size: 1rem;
    text-align: justify;
}

.iconGrid {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template: 100% / 20% 20% 20% 20% 20%;
    column-gap: 15px;
}

.codeIcon {
    
}