* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 15% auto;
}

navColumn {
    grid-column-start: 0;
    grid-column-end: 1;
}

mainColumn {
    grid-column-start: 1;
    grid-column-end: 2;
}